.container {
  background-color: #ad9be9;
  border-radius: 10px;
  padding: 30px;
}
.btns {
  background-color: aqua;
  border: none;
  width: 163px;
  height: 40px;
  padding: 6px;
  border-radius: 7px;
  background-color: #4b1367;
  color: white;
}
